<app-header></app-header>
<div class="content-body container app-hcenter">
  <div class="login-container">
    <h2>Member App LogIn</h2>
    <div class="login-form hcenter">
      <form>
        <div class="app-row col-xs-12">
          <mat-icon class="login-icon">person</mat-icon>
          <mat-form-field class="full-width">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter your email address here.." required>
          </mat-form-field>
        </div>
        <div class="app-row col-xs-12">
          <mat-icon class="login-icon">lock</mat-icon>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password here..">
          </mat-form-field>
        </div>
        <div class="app-row col-xs-12 full-width pull-right">
          <button
            mat-raised-button
            color="primary"
            onclick=""
            style="width: 100px"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
